/* Alinear el título a la derecha */
.navbar-header {
    float: right;
}

/* Alinear los elementos de la lista a la izquierda y en horizontal */
.navbar-nav {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav > li > a {
    padding: 15px 20px; /* Espaciado interno de los enlaces */
}

.navbar-nav > .active > a {
    background-color: #eee; /* Color de fondo para el ítem activo */
}
/*Hecho por Omar Gines :p*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1b1d31;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    background-color: #24253C;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 428px;
    box-shadow: 0 0 20px rgba( 0, 0, 0, 0.2);
    text-align: center;
}

form h2 {
    font-size: 30px;
    color: #EDF0F0;
    margin-bottom: 35px;

}

input {
    padding: 17px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid #603452;
    margin-bottom: 50px;
    outline: none;
    color: #FFFFFF;
    font-size: 16px;
}

::placeholder {
    color: #89879B;
}

.btn {
    background-color: #E53834;
    border: 7px solid #E53834;
    cursor: pointer
}

.btn:hover {
    background-color: #F33F5A;
    border: 7px solid #F33F5A;
}

@media (max-width: 99px) {

    body {
        padding: 38px;
    }

    form {
        width: 340px;
    }

}
/*Hasta Aquí :p*/

